.upload{
    font-weight:bold;
    color:#28a745;
    margin-left: 15px;
    line-height: 36px;
  }

  .images{
    border-image: 5px;
    border-color: #28a745;
    border-radius: 5px;
    background-color: black;
  }